body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-between; /* Alterado para distribuir o espaço entre os elementos */
    align-items: center;
    background-color: rgb(176, 176, 176);
    padding: 15px;
}

.logo img {
    max-width: 100%; /* Alterado para garantir que a imagem não ultrapasse o contêiner */
    height: auto;
}

.title h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.datetime {
    flex-grow: 1; /* Novo, para ocupar o espaço restante */
    text-align: right; /* Novo, alinha o conteúdo à direita */
}

#currentDateTime {
    font-size: 20px; /* Novo, tamanho da fonte ajustado */
    color: white; 
    
}
.conteudo-api {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 80%; /* Defina a largura máxima para o conteúdo */
    margin: 1% auto; /* Centralize o conteúdo na página */
    padding: 20px;
    background-color: #f9f9f9; /* Adiciona uma cor de fundo */
    border: 1px solid #ddd; /* Adiciona uma borda */
    border-radius: 8px; /* Adiciona cantos arredondados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}

.label {
    display: block; /* Garante que a etiqueta de rótulo seja exibida em uma linha separada */
}

.search {
    width: 80%; /* A largura do campo de pesquisa ocupará toda a largura disponível */
    padding: 10px; /* Adiciona algum preenchimento ao campo de pesquisa */
    box-sizing: border-box; /* Garante que o preenchimento não aumente a largura total */
    margin-bottom: 10px; /* Adiciona um pequeno espaço entre o campo de pesquisa e o conteúdo abaixo */
}
.button-refresh {
    color: white;
    background-color: red;
    width: 20%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button-refresh:hover {
    background-color: darkred;
}

.content{
    width: 80%;
    margin: 1% auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    width: 60%;;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(176, 176, 176);;
    margin: 20px;
  }
  
/* Estilo para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Altera a direção do fluxo para coluna */
    }
    .title {
        width: 100%; /* Define a largura total */
        text-align: center; /* Centraliza o texto */
        font-size: 18px; /* Ajusta o tamanho da fonte */
    }
    input[type="text"] {
        width: 80%; /* Ajusta a largura do campo de entrada */
        margin: 5px auto; /* Centraliza o campo de entrada */
    }
    label {
        font-size: 20px; /* Ajusta o tamanho do texto do rótulo */
        text-align: center; /* Centraliza o texto do rótulo */
    }
    .conteudo-api {
        padding: 10px; /* Reduza o preenchimento para telas menores */
    }
}



